@import "../../colors.scss";

.MainMenuHome{
  background: red;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  %flexComponent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 180px;
      border-radius: 16px;
      &.translate{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px $white;
      }
    }

  }
  .top{
    @extend %flexComponent;
    background-color: #fff;
  }
  .bottom{
    @extend %flexComponent;
    background-color: #000;
  }
}
