@import "../../../colors.scss";

header{
    height: 9vh;
    min-height: 64px;
    background: #ea3c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
    box-sizing: border-box;

    %nav-items{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu{

        background: transparent;
        border-radius: 50%;
        @extend %nav-items;
        position: relative;

        i{
            z-index: 2;
            opacity: 1;
            color: #fff;
            transition: all 0.1s ease-out;

        }
        .extendedMenu{
            position: absolute;
            right: 0;
            top: 0;
            background: $white;
            border-radius: 20px;
            @extend %nav-items;
            justify-content: flex-start;
            width: 40px;
            transition: all 0.2s ease-out;
            z-index: 1;

            &[class*='showIcons'] a{
                display: flex;
            }
            &[class*='showIcons'] img{
                visibility: visible;
                opacity: 1;
                margin-left: 35px;
            }
            img{
                width: 30px;
                height: 30px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease-out;
                margin-left: 0px;
                box-sizing: border-box;
            }

            a{
                display: none;
            }

        }
        &[class*="active"] .extendedMenu{
            width: 270px;
            z-index: 2;
        }
    }
    
    .points{
        @extend %nav-items;
        color: #fff;
        width: 70px;
        justify-content: space-around;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            height: 30px;
        }

    }
}