@import "../../colors.scss";
.Question {
  padding-top: 18px;
  height: 91vh;
  background: $white;
  box-sizing: border-box;

  
  .skipButton{
    position: absolute;
    top: 5px;
    right: 15px;
    height: 20px;
    width: 30px;

    //background: red;
  }

  img {
    border-radius: 8px;
    background: url('../../../assets/loader.svg') no-repeat;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .languages {
    display: flex;
    justify-content: space-around;
    width: 300px;
    color: $black;

    .english, .lao {


    }
  }

  .textInput {
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    height: 30px;
    background: $black;
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
  }

  .bgOverlay {
    position: absolute;
    left: 0;
    z-index: 5;
    top: -100%;
    width: 100vw;
    height: 100vh;
    background: $black;
    color: $white;
    transition: 0.5s all ease-out;
    opacity: 0;
    visibility: hidden;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    p{
      margin: 5px;
    }
    &[class*="active"] {
      top: 0;
      opacity: 1;
      visibility: visible;
    }

  }

  .imageBox{
    height: 170px;
    width: 300px;
    border-radius: 8px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    //background-image: url('../../../assets/loader.svg');
  }
}


