@import "../../../colors.scss";

header{
    height: 9vh;
    min-height: 70px;
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px;
    box-sizing: border-box;

    %nav-items{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu{

        background: $white;
        border-radius: 50%;
        @extend %nav-items;
        position: relative;

        i{
            z-index: 2;
            opacity: 1;
            transition: all 0.3s ease-out;

        }
        .extendedMenu{
            position: absolute;
            right: 0;
            top: 0;
            background: $white;
            border-radius: 20px;
            @extend %nav-items;
            justify-content: flex-start;
            width: 40px;
            transition: all 0.3s ease-out;
            z-index: 1;

            &[class*='showIcons'] img{
                visibility: visible;
                opacity: 1;
            }
            img{
                height: 30px;
                width: 30px;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-out;
                margin-left: 35px;
                box-sizing: border-box;
            }

        }
        //&[class*="active"] i{
        //    opacity: 0;
        //}
        &[class*="active"] .extendedMenu{
            width: 270px;
            z-index: 2;

        }
    }
    
    .points{
        @extend %nav-items;
        color: #fff;
        width: 70px;
        justify-content: space-around;
        img{
            height: 30px;
        }

    }
}